body {
    background-color: #e0ebe8;
}

hr {
    border-style: none;
    border-top: 5px dotted #dddbdb;
    width: 6%;
}

h1, h2 {
    color: #66bfbf;
}

#pierwszy_paragraf {
    font-size: 1.5em;
    color:#31ac84;
}

.drugi_paragraf {
    font-size: 2em;
    color: burlywood;
}

.wazowski {
    background-color: #97d5ba;
    height: 200px;
}

.circural {
    border-radius: 100%;
}

/* There are many pseudo classes, this is one of those: */
.wazowski:hover {
    background-color: burlywood;
}

/* Relative position is used to move the gost of the object, but object stays in the same place so 
 it does not affect the position of other objects */
.first-container {
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
    background-color: #8bc6c9;
    text-align: center;
    left: 208px;
}

.second-container {
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
    background-color: #d5d898;
    text-align: center;
    right: 104px;
}

.third-container {
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
    background-color: #ca9bbc;
    text-align: center;
    right: 104px;
}

.first-container h1 {
    color: white;
}

.second-container h1 {
    color: white;
}

.third-container h1 {
    color: white;
}

/* Absolute position is used to move the object within the parent object 
 and it does affect the position of other objects, because other objects cannot see the absolute  */

.parent-container {
    margin: 20px;
    background-color: #d5d898;
    width: 300px;
    height: 300px;
    position: relative;
}

.parent-container p {
    display: inline-block;
    margin: 0;
}

.parent-container:hover {
    background-color: #b7bb66;
}

.child-container {
    background-color: #c6ca73;    
    top: 75px;
    left: 75px;
    width: 50%;
    height: 50%;
    position: absolute;
}

.child-container:hover {
    background-color: #85990f;
}

.fixed-container {
    background-color: #93b986;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
}

.fixed-container:hover {
    border: 2px solid #97d5ba;
    background-color: #f1f5f1;
    top: 18px;
    right: 18px;
}

.fixed-container p {
    margin: 0;
    padding: 0;
}