body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    font-size: 2.2em;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #ddf7ec;
    position: relative;
    padding-top: 100px;
}

.profile img {
    height: 11em;
}

.skill-row img {
    height: 7em;
}

.middle-container {

}

.bottom-container {

}

.top-cloud {
    position: absolute;
    top: 30px;
    right: 350px;
}

.bottom-cloud {
    position: absolute;
    top: 200px;
    left: 350px;
}